.faq{
    h2{
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions{

        &__item{
            background-color:#13151d;
            margin-bottom: 16px;
            padding: 24px;

            &__question{
                color: #fff;
                font-size:20px;
                padding-right: 30px;
                display: inline-block;
                position: relative;
                cursor: pointer;
                width: 100%;
                
                &::after{
                    content:'+';
                    position: absolute;
                    top: 0;
                    right: 0px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer{
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, .5s ease;
            }

            &--is-open{
                .faq__questions__item__question{                  
                    &::after{
                        content:'-';
                        font-size: 60px;
                    }
                }
                .faq__questions__item__answer{
                    height: auto;
                    padding-bottom:24px;
                    transition: height, 1s ease;

                    &__list{
                        padding-left: 40px;

                        &__item{
                            list-style: disc;
                            margin-top: 16px;
                        }
                    }
                    p{
                        &:last-child{
                            margin-top: 16px;
                        }
                    }
                    
                    
                }
            }
        }
    }
}