@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: variaveis.$font;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$colorTextPrimary;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$colorTextSecondary
}

body {
    background-color: variaveis.$backgroundColor;
    
}

.text--big {
    @include text(18px);

}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small{
    @include title(28px);
}

.link{
    @include text(18px);
    color: variaveis.$colorTextSecondary;
    text-decoration: underline;
}

.button{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$colorTextSecondary;
    background-color: #6421ff;
    text-transform:uppercase;
    border-radius: 4px;
    border: none;
    margin-top: 2vw;
    margin-bottom: 8px;
    cursor:pointer;
    
    &:hover{
        background-color: rgba($color: #6421ff, $alpha: .7);
    }
}