@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'availeble-devices';


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: variaveis.$font;
    list-style: none;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$colorTextPrimary;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$colorTextSecondary
}

body {
    background-color: variaveis.$backgroundColor;
    
}

.text--big {
    @include text(18px);

}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small{
    @include title(28px);
}

.link{
    @include text(18px);
    color: variaveis.$colorTextSecondary;
    text-decoration: underline;
}

.button{
    display: block;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$colorTextSecondary;
    background-color: #6421ff;
    text-transform:uppercase;
    border-radius: 4px;
    border: none;
    margin-top: 2vw;
    margin-bottom: 8px;
    cursor:pointer;
    
    &:hover{
        background-color: rgba($color: #6421ff, $alpha: .7);
    }
}

.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    img{
        max-width: 100%;
    }

    &__text__container{
        padding: 2vw;

        h2{
            margin-bottom: 24px;
        }
    }

    &--image-full-width{
        display: block;
        position: relative;

        img{
            width: 100%;
        }

        &__text__container{
            position:absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}