@use 'variaveis';
@use 'header';
@use 'hero';
@use 'shows';
@use 'plans';
@use 'availeble-devices';
@use 'faq';
@use 'footer';


* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: variaveis.$font;
    list-style: none;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$colorTextPrimary;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$colorTextSecondary
}

body {
    background-color: variaveis.$backgroundColor;
    
}

.text--big {
    @include text(18px);

    @media (max-width: 768px){
        @include text(15px)
    }
}

.text {
    @include text;

    @media (max-width: 768px){
        @include text(11px)
    }
}

.text--small {
    @include text(12px);

    @media (max-width: 768px){
        @include text(11px)
    }
}

.title--big {
    @include title(44px);

    @media (max-width: 768px){
        @include title(26px)
    }
}

.title {
    @include title;

    @media (max-width: 768px){
        @include title(24px)
    }
}

.title--small{
    @include title(28px);

    @media (max-width: 768px){
        @include title(22px)
    }
}

.padding-section{
    padding: 2vw 5.6vw;
    @media (max-width: 768px){
        padding: 4vw 5.6vw;
    }
}

.link{
    @include text(18px);
    color: variaveis.$colorTextSecondary;
    text-decoration: underline;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 18px;
    color: variaveis.$colorTextSecondary;
    background-color: variaveis.$colorButtonPrimary;
    text-transform:uppercase;
    border-radius: 4px;
    border: none;
    cursor:pointer;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px solid variaveis.$colorButtonPrimary;

    
    &:hover{
        background-color: lighten(variaveis.$colorButtonPrimary, 3%);
    }

    &--secondary{
        background-color: variaveis.$colorButtonSecondary;
        border-color:variaveis.$colorButtonSecondary;

        &:hover{
            background-color: lighten(variaveis.$colorButtonSecondary, 3%);
        }
    }

    &--dark{
        background-color: rgba(variaveis.$colorButtonDark, 0.8);
        border-color: variaveis.$colorTextSecondary;

        &:hover{
            background-color: variaveis.$colorTextSecondary;
            color: variaveis.$backgroundColor;
        }
    }


}

.image-text-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    @media(max-width:768px){
        display: block;
    }

    img{
        max-width: 100%;
    }

    &__text__container{
        padding: 2vw;

        h2{
            margin-bottom: 24px;
        }
    }

    &--image-full-width{
        display: block;
        position: relative;

        img{
            width: 100%;
        }

        &__text__container{
            position:absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media(max-width:768px){
                position: relative;
                left: 0;
                width: 100%;
            }
        }
    }
}